config P4WIFI
	bool "Samsung Galaxy Tab 10.1 drivers"
	default n
	help
	  Say Y to build Samsung Galaxy Tab 10.1 drivers.

if P4WIFI

config SEC_MISC
	tristate "driver for miscellaneous functions for P3 devices"
	help
	  Enable this to be able to support miscellaneous functions for P3 devices
	  - tuning image converters(CMC623), updating touch firmwares.

config FB_TEGRA_CMC623
	bool "Samsung CMC623"
	default y
	help
	  This enables support for Samsung CMC623 image converter

endif # P4WIFI
