/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/thermal/thermal.h>

#include "tegra30.dtsi"
#include "tegra30-ouya-pinmux.dtsi"

/ {
	model = "Ouya";
	compatible = "nvidia,ouya", "nvidia,tegra30";

	aliases {
		rtc0 = "/i2c@7000d000/tps65911@2d";
		rtc1 = "/rtc@7000e000";
		serial0 = &uartd;
		serial1 = &uartc;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlyprintk panic=3 ignore_loglevel";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			#cooling-cells = <2>;

			cpu-supply = <&vddctrl_reg>;
			core-supply = <&core_vdd_reg>;
		};
	};

	fan: gpio_fan {
		compatible = "gpio-fan";
		gpios = <&gpio TEGRA_GPIO(J, 2) GPIO_ACTIVE_HIGH>;
		gpio-fan,speed-map = <0 0
			                  4500 1>;
		#cooling-cells = <2>;
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <250>;

			thermal-sensors = <&nct1008 1>;

			trips {
				cpu_alert0: cpu-alert0 {
					temperature = <60000>;
					hysteresis = <10000>;
					type = "active";
				};
				cpu_crit: cpu-crit {
					temperature = <90000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu_alert0>;
					cooling-device = <&fan 1 THERMAL_NO_LIMIT>;
				};
			};
		};
	};

	memory@80000000 {
		reg = <0x80000000 0x3fe00000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		android_logger: ram-console@BEA00000 {
			reg = <0xBEA00000 0x00100000>;
			no-map;
		};
	};

	ram_console {
		compatible = "android,ram-console";
		status = "ok";
		android,ram-buffer-start = <0xBEA00000>;
		android,ram-buffer-size = <0x00100000>;
	};

	firmware {
		trusted-foundations {
			compatible = "tlm,trusted-foundations";
			tlm,version-major = <0x2>;
			tlm,version-minor = <0x8>;
		};
	};

	host1x@50000000 {
		hdmi@54280000 {
			status = "okay";
			nvidia,hpd-gpio = <&gpio TEGRA_GPIO(N, 7) GPIO_ACTIVE_HIGH>;
			/* nvidia,ddc-i2c-bus = <&hdmi_ddc>; */

			/* 1280x720 */
			nvidia,edid = [ 00ffffff ffffff00 31d80000 00000000 05160103
							6d211278 ea5ec0a4 594a9825 20505400 000081c0
							01010101 01010101 01010101 01011a1d 008051d0
							1c204080 35004dbb 1000001e 000000ff 004c696e
							75782023 300a2020 20200000 00fd003b 3d2b2d08
							000a2020 20202020 000000fc 00313238 30783732
							300a2020 2020005b ];
		};
	};

	gpio: gpio@6000d000 {
		/* regulator initialization handles these */
		/*
		init-gpio-pdd6 {
			gpio-hog;
			gpios = <TEGRA_GPIO(DD, 6) GPIO_ACTIVE_HIGH>;
			output-low;
		};
		init-gpio-pdd4 {
			gpio-hog;
			gpios = <TEGRA_GPIO(DD, 4) GPIO_ACTIVE_HIGH>;
			output-low;
		};
		*/
		init-gpio-pr2 {
			gpio-hog;
			gpios = <TEGRA_GPIO(R, 2) GPIO_ACTIVE_HIGH>;
			output-low;
		};

		init-gpio-pk4 {
			gpio-hog;
			gpios = <TEGRA_GPIO(K, 4) GPIO_ACTIVE_HIGH>;
			output-low;
		};
		init-gpio-pk2 {
			gpio-hog;
			gpios = <TEGRA_GPIO(K, 2) GPIO_ACTIVE_HIGH>;
			input;
		};
		init-gpio-pi6 {
			gpio-hog;
			gpios = <TEGRA_GPIO(I, 6) GPIO_ACTIVE_HIGH>;
			input;
		};
		init-gpio-pj0 {
			gpio-hog;
			gpios = <TEGRA_GPIO(J, 0) GPIO_ACTIVE_HIGH>;
			input;
		};
		init-gpio-pc7 {
			gpio-hog;
			gpios = <TEGRA_GPIO(C, 7) GPIO_ACTIVE_HIGH>;
			input;
		};
		init-gpio-pb2 {
			gpio-hog;
			gpios = <TEGRA_GPIO(B, 2) GPIO_ACTIVE_HIGH>;
			output-high;
		};
		init-gpio-ph3 {
			gpio-hog;
			gpios = <TEGRA_GPIO(H, 3) GPIO_ACTIVE_HIGH>;
			output-low;
		};

		init-gpio-pl2 {
			gpio-hog;
			gpios = <TEGRA_GPIO(L, 2) GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "lvds_shutdown";
		};
	};

	pinmux@70000868 {
		state_default: pinmux {
			/* smsc9500 reset */
			pex_l1_rst_n_pdd5 {
				nvidia,pins = "pex_l1_rst_n_pdd5";
				nvidia,function = "pcie";
				nvidia,pull = <TEGRA_PIN_PULL_DOWN>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
				nvidia,enable-input = <TEGRA_PIN_DISABLE>;
			};
		};
	};

	serial@70006200 {
		status = "okay";
		compatible = "nvidia,tegra30-hsuart";
		
		bluetooth {
			compatible = "brcm,bcm43438-bt";

			device-wakeup-gpios = <&gpio TEGRA_GPIO(U, 1) GPIO_ACTIVE_HIGH>;
			host-wakeup-gpios = <&gpio TEGRA_GPIO(U, 6) GPIO_ACTIVE_HIGH>;

			shutdown-gpios = <&gpio TEGRA_GPIO(U, 0) GPIO_ACTIVE_HIGH>;

			clocks = <&tegra_car TEGRA30_CLK_UARTC>;
			clock-names = "uartc";

			assigned-clocks = <&tegra_car TEGRA30_CLK_UARTC>;
			assigned-clock-rates = <154838>;
			assigned-clock-parents =<&tegra_car TEGRA30_CLK_CLK_M>;

			max-speed = <154838>;
		};
	};

	serial@70006300 {
		status = "okay";
	};

	hdmi_ddc: i2c@7000c700 {
		status = "okay";
		clock-frequency = <10000>;

		assigned-clocks = <&tegra_car TEGRA30_CLK_I2C4>;
		assigned-clock-rates = <3200000>;
		assigned-clock-parents =<&tegra_car TEGRA30_CLK_PLL_P>;
	};

	i2c@7000d000 {
		status = "okay";
		multi-master;
		clock-frequency = <400000>;

		nct1008: temperature-sensor@4c {
			compatible = "onnn,nct1008";
			reg = <0x4c>;
			vcc-supply = <&reg_sys_3v3_a04>;

			/*
			 * Alert interrupt is broken.
			 * The IRQ remains triggered permanently.
			 */
			/*
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(CC, 2) IRQ_TYPE_LEVEL_LOW>;
			*/

			#thermal-sensor-cells = <1>;
		};

		pmic: tps65911@2d {
			compatible = "ti,tps65911";
			reg = <0x2d>;

			interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>;
			#interrupt-cells = <2>;
			interrupt-controller;

			#gpio-cells = <2>;
			gpio-controller;

			ti,sleep-enable;
			ti,sleep-keep-ck32k;
			ti,en-gpio-sleep = <0 0 1 0 0 0 0 0 0>;

			ti,system-power-controller;

			/*
			vcc1-supply = <&reg_sys_3v3_a04>;		// vdd1
			vcc2-supply = <&reg_sys_3v3_a04>;		// vdd2
			*/

			vcc3-supply = <&vio_reg>;				// ldo6, ldo7, ldo8

			/*
			vcc4-supply = <&reg_sys_3v3_a04>;		// ldo5
			vcc5-supply = <&reg_sys_3v3_a04>;		// ldo3, ldo4
			*/

			vcc6-supply = <&vdd2_reg>;				// ldo1, ldo2

			/*
			vcc7-supply = <&reg_sys_3v3_a04>;		// vrtc
			vccio-supply = <&reg_sys_3v3_a04>;		// vio
			*/

			regulators {
				vio_reg: vio {
					regulator-name = "vio";
					regulator-min-microvolt = <1500000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd1_reg: vdd1 {
					regulator-name = "vdd1";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					ti,regulator-ext-sleep-control = <0>;
				};

				vdd2_reg: vdd2 {
					regulator-name = "vdd2";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					/* regulator-always-on; */
					regulator-boot-on;
				};

				vddctrl_reg: vddctrl {
					regulator-name = "vddctrl";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1400000>;
					regulator-coupled-with = <&core_vdd_reg>;
					regulator-coupled-max-spread = <300000>;
					regulator-max-step-microvolt = <100000>;
					regulator-always-on;
					regulator-boot-on;
					ti,regulator-ext-sleep-control = <1>;
				};

				ldo1_reg: ldo1 {
					regulator-name = "ldo1";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo2_reg: ldo2 {
					regulator-name = "ldo2";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
				};

				ldo3_reg: ldo3 {
					regulator-name = "ldo3";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo4_reg: ldo4 {
					regulator-name = "ldo4";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
				};

				ldo5_reg: ldo5 {
					regulator-name = "ldo5";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo6_reg: ldo6 {
					regulator-name = "ldo6";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};

				ldo7_reg: ldo7 {
					regulator-name = "ldo7";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					ti,regulator-ext-sleep-control = <0>;

					/* unimplemented downstream flag */
					/* LDO_LOW_POWER_ON_SUSPEND */
				};

				ldo8_reg: ldo8 {
					regulator-name = "ldo8";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					ti,regulator-ext-sleep-control = <0>;

					/* unimplemented downstream flag */
					/* LDO_LOW_POWER_ON_SUSPEND */
				};
			};
		};

		core_vdd_reg: tps62361@60 {
			compatible = "ti,tps62361";
			reg = <0x60>;

			regulator-name = "tps62361-vout";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1770000>;
			regulator-coupled-with = <&vddctrl_reg>;
			regulator-coupled-max-spread = <300000>;
			regulator-max-step-microvolt = <100000>;
			regulator-boot-on;
			regulator-always-on;
			ti,vsel0-state-high;
			ti,vsel1-state-high;
		};
	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <1>;
		nvidia,cpu-pwr-good-time = <2000>;
		nvidia,cpu-pwr-off-time = <200>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
		nvidia,lp0-vec = <0xbddf9000 8192>;

		/* Set DEV_OFF bit in DCDC control register of TPS65911 PMIC */
		i2c-thermtrip {
			nvidia,i2c-controller-id = <4>;
			nvidia,bus-addr = <0x2d>;
			nvidia,reg-addr = <0x3f>;
			nvidia,reg-data = <0x1>;
		};
	};

	sdhci@78000400 {
		status = "okay";
		power-gpios = <&gpio TEGRA_GPIO(D, 4) GPIO_ACTIVE_HIGH>;
		bus-width = <4>;
		max-frequency = <52000000>;
		cap-sdio-irq;
		non-removable;

		mmc-pwrseq = <&sdhci3_pwrseq>;
		
		brcmf: wifi@1 {
			compatible = "brcm,bcm4329-fmac";
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(O, 4) IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "host-wake";
		};
	};

	sdhci@78000600 {
		status = "okay";
		bus-width = <8>;
		max-frequency = <52000000>;

		keep-power-in-suspend;
		/* mmc-ddr-1_8v; */
		mmc-hs200-1_8v;
		non-removable;

		vmmc-supply = <&vio_reg>;

		/* init errors when this is used */
		/*
		vmmc-supply = <&reg_3v3_emmc>;
		vqmmc-supply = <&vio_reg>;
		*/
	};

	usb@7d000000 {
		compatible = "nvidia,tegra20-udc";
		status = "okay";
		dr_mode = "peripheral";
	};

	phy1: usb-phy@7d000000 {
		compatible = "nvidia,tegra30-usb-phy";
		status = "okay";
		nvidia,hssync-start-delay = <0>;
		nvidia,xcvr-lsfslew = <2>;
		nvidia,xcvr-lsrslew = <2>;
	};

	usb@7d004000 {
		compatible = "nvidia,tegra30-ehci", "usb-ehci";
		status = "okay";

		smsc@1 {
			compatible = "usb424,9e00";
		};
	};

	phy2: usb-phy@7d004000 {
		compatible = "nvidia,tegra30-usb-phy";
		status = "okay";

		nvidia,hssync-start-delay = <0>;
		nvidia,idle-wait-delay = <17>;
		nvidia,elastic-limit = <16>;
		nvidia,term-range-adj = <6>;
		nvidia,xcvr-setup = <15>;
		nvidia,xcvr-setup-use-fuses;
		nvidia,xcvr-lsfslew = <2>;
		nvidia,xcvr-lsrslew = <2>;

		/*
		 * smsc9500 needs to be reset on usb init.
		 * Use a dummy regulator to trigger the reset gpio
		 */
		vbus-supply = <&smsc_reset>;
	};

	usb@7d008000 {
		status = "okay";
	};

	phy3: usb-phy@7d008000 {
		vbus-supply = <&reg_usb3_vbus_oc_a03>;
		status = "okay";
		nvidia,xcvr-setup = <8>;
		nvidia,xcvr-hsslew = <8>;
		nvidia,hsdiscon-level = <1>;
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock@0 {
			compatible = "fixed-clock";
			reg = <0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_5v_cp: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "5v_cp";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&pmic 0 GPIO_ACTIVE_HIGH>;
		};

		reg_5v0_a04: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&pmic 8 GPIO_ACTIVE_HIGH>;
		};

		reg_ddr_a04: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "ddr";
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <1500000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&pmic 7 GPIO_ACTIVE_HIGH>;
		};

		reg_sys_3v3_a04: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "sys_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&pmic 6 GPIO_ACTIVE_HIGH>;
		};

		reg_3v3_modem: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "3v3_modem";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(D, 6) GPIO_ACTIVE_HIGH>;
		};

		reg_vdd_pnl1: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "vdd_pnl1";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(L, 4) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_cam3_ldo: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "cam3_ldo";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(S, 0) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_vdd_com: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "vdd_com";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(D, 0) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_3v3_fuse: regulator@9 {
			compatible = "regulator-fixed";
			reg = <9>;
			regulator-name = "3v3_fuse";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(L, 6) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_3v3_emmc: regulator@10 {
			compatible = "regulator-fixed";
			reg = <10>;
			regulator-name = "3v3_emmc";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(D, 1) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_vdd_sdmmc1: regulator@11 {
			compatible = "regulator-fixed";
			reg = <11>;
			regulator-name = "vdd_sdmmc1";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(D, 7) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_3v3_pex_hvdd: regulator@12 {
			compatible = "regulator-fixed";
			reg = <12>;
			regulator-name = "3v3_pex_hvdd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(L, 7) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_1v8_cam: regulator@13 {
			compatible = "regulator-fixed";
			reg = <13>;
			regulator-name = "1v8_cam";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(BB, 4) GPIO_ACTIVE_HIGH>;
			vin-supply = <&vio_reg>;
		};

		reg_vdd_bl1_a03: regulator@20 {
			compatible = "regulator-fixed";
			reg = <20>;
			regulator-name = "vdd_bl1";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(DD, 2) GPIO_ACTIVE_HIGH>;
		};

		reg_vdd_bl2_a03: regulator@21 {
			compatible = "regulator-fixed";
			reg = <21>;
			regulator-name = "vdd_bl2";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(DD, 0) GPIO_ACTIVE_HIGH>;
		};

		reg_usb1_vbus_oc_a03: regulator@15 {
			compatible = "regulator-fixed";
			reg = <15>;
			regulator-name = "usb1_vbus_oc_a03";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(DD, 6) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_5v0_a04>;
		};

		reg_usb3_vbus_oc_a03: regulator@16 {
			compatible = "regulator-fixed";
			reg = <16>;
			regulator-name = "usb3_vbus_oc_a03";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(DD, 4) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_5v0_a04>;
		};

		reg_cam1_ldo: regulator@18 {
			compatible = "regulator-fixed";
			reg = <18>;
			regulator-name = "cam1_ldo";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(R, 6) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};

		reg_cam2_ldo: regulator@19 {
			compatible = "regulator-fixed";
			reg = <19>;
			regulator-name = "cam2_ldo";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			enable-active-high;
			gpio =  <&gpio TEGRA_GPIO(R, 7) GPIO_ACTIVE_HIGH>;
			vin-supply = <&reg_sys_3v3_a04>;
		};
	};

	smsc_reset: regulator {
		compatible = "regulator-fixed";
		regulator-name = "smsc-reset";
		enable-active-high;
		gpio =  <&gpio TEGRA_GPIO(DD, 5) GPIO_ACTIVE_HIGH>;
	};

	gpio-keys {
		power {
			gpios = <&gpio TEGRA_GPIO(V, 0) GPIO_ACTIVE_LOW>;
		};
	};

	sdhci3_pwrseq: sdhci3_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio TEGRA_GPIO(D, 3) GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <200>;
	};
};
